h2 {
    text-align: center;
}

.bar {
    background-color: black;
    border-radius: 8px;
    margin-bottom: 20px;
    min-width: 300px;
    width: 60%;
    font-size: 2em;
}

.workCont {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    min-width: 400px;
}

.spaceBottom {
    margin-bottom: 20px;
}

.workInfoCont {
    background-color: #d9ba6c;
    color: black;
    min-width: 350px;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    border: 2px solid black;
    box-shadow: 5px 5px 0px black;
}

.workText {
    padding: 0;
    margin-left: 16px;
    vertical-align: middle;
    min-width: 300px;
    width: 40%;
}

.timeWorked {
    font-weight: normal;
}

.typewriterCont {
    background-color: black;
    padding: 50px;
    margin-left: 16px;
    border-radius: 8px;
    text-align: center;
    flex-direction: row;
    animation: colorChange 8s steps(1) 2s infinite normal forwards;
    transition: 0.5s all;
    border: 2px solid;
    border-color: white;
    box-shadow: 8px 8px 0px white;
}

.typewriterCont p {
    letter-spacing: normal;
}

.typewriterStatic {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    mix-blend-mode: difference;
}

.typewriter {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    mix-blend-mode: difference;
}

.typewriter::after {
    content: "black;";
    display: inline-block;
    overflow: hidden;
    border-right: 2px solid white;
    animation:
        typewriter 4s steps(6) 0s infinite normal both,
        blinkTextCursor 500ms steps(2) infinite normal both,
        contentChange 8s -1s infinite normal both;

}

@keyframes blinkTextCursor {
    0% { border-right-color: auto; }
    50% { border-right-color: transparent; }
}

@keyframes typewriter {
    0% { width: 0; }
    50% { width: 3.5em; }
    100% { width: 0; }
}

@keyframes contentChange {
    0% { content: "black;"; }
    50% { content: "white;"; }
    100% { content: "black;"; }
}

@keyframes colorChange {
    0% {
        background-color: white;
        border-color: black;
        box-shadow: 8px 8px 0px black;
    }
    50% {
        background-color: black;
        border-color: white;
        box-shadow: -8px -8px 0px white;
    }
}

.inlineLink, .inlineLink:visited {
    border-bottom: 2px solid white;
    transition: 0.3s;
}

.inlineLink:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    color: goldenrod;
}

#experienceCont {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: blueviolet;

}

#experienceCont > div > div {
    background-color: gold;
    border: 3px solid black;
    padding: 16px;
    border-radius: 8px;
    box-sizing: border-box;
}

#experienceCont .max {
    width: 100%;
}

#experienceCont .eighty {
    width: 80%;
}

#experienceCont .sixty {
    width: 60%;
}

#experienceBody {
    padding-top: 0;
}

#experienceTextCont {
    display: flex;
    justify-content: center;
    max-width: 350px;
}

#experienceText {
    vertical-align: middle;
}

/** MOBILE **/
@media (max-width: 800px) {
    .bar {
        font-size: 1.5em;
    }

    .workCont {
        flex-direction: column;
    }
    
    .typewriterCont {
        margin-left: 0;
    }

    .workText {
        margin-left: 0;
    }

    .workInfoCont {
        min-width: 0px;
    }

    .revOnMobile {
        flex-direction: column-reverse;
    }
}
