.card {
  background-color: black;
  margin-top: 00px;
  min-width: 350px;
  width: 50vw;
  border-radius: 10px;
  transition: transform 0.5s ease-in-out, box-shadow 0.4s ease, margin-top 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform-style: preserve-3d;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
  border: 2px solid darkgoldenrod;
  box-sizing: content-box;
}
.card h2, .card h3, .card P {
  transform: translateZ(2px);
  color: white;
  font-size: 40px;
  line-height: 40px;
  margin: 0;
  font-weight: 300;
  padding: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.card h2 {
  margin: 20px 0 0 0;
}
.card h3 {
  margin: 20px 0 40px 0;
}
.card P {
  margin: 0px 0 40px 0;
  font-size: 21px;
}
.card .chart {
  display: flex;
  align-items: center;
  justify-content: space-around;
  transform-style: preserve-3d;
  transform: translateZ(2px);
  transition: transform 0.5s ease-in-out;
  width: 100%;
}
.card .photo {
  position: absolute;
  transform: translateZ(1px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
}

.background:hover .card {
  box-shadow: 0px 0px 5px 2px darkgoldenrod;
}
.background.details:hover .card {
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  box-shadow: 0px 30px 40px 0px rgba(0, 0, 0, 0.75);
}

.card .photo:after {
  position: absolute;
  content: ' ';
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.5s ease-in-out;
}
.card .card-bar {
  will-change: height;
  color: white;
  height: 1px;
  transform: translateX(0px) rotateX(-90deg) rotateY(0deg);
  transform-origin: 100% 100%;
  transition: height 0.5s ease-in-out, margin 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform-style: preserve-3d;
  top: 50px;

  margin: 10px;
  width: 25px;
  position: relative;
  background: linear-gradient(darkgoldenrod, darkgoldenrod, rgba(0, 0, 0, 0));
}
.card .card-bar:after {
  display: block;
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  width: 25px;
  right: -25px;
  transform: rotateY(0deg);
  transform-origin: 0% 50%;
}
.card .card-bar:before {
  font-family: 'Oxygen', sans-serif;
  display: block;
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  top: -25px;
  font-size: 12px;
  line-height: 18px;
  left: 0;
  background-color: transparent;
  transform: rotateX(90deg);
  transform-origin: 0% 100%;
  text-align: center;
  padding: 0;
  transition-delay: 0.3s;
  transition: background-color 0.3s ease-in-out;
}
.card .card-bar.card-bar1:before {
  content: '';
}
.card .card-bar.card-bar2:before {
  content: '';
}
.card .card-bar.card-bar3:before {
  content: '';
}
.card .card-bar.card-bar4:before {
  content: '';
}
.card .card-bar.card-bar5:before {
  content: '';
}
.card .card-bar.card-bar6:before {
  content: '';
}
.card .card-bar.card-bar7:before {
  content: '';
}
.card .card-bar span {
  font-family: 'Oxygen', sans-serif;
  position: absolute;
  /* transform: rotateZ(0deg); */
  border-radius: 4px;
  transform-origin: 0% 100%;
  /* top: 20px; */
  margin-top: -20px;
  white-space: nowrap;
  text-align: center;
  /* left: 18px; */
  padding: 5px;
  color: black;
  font-size: 10px;
  opacity: 0;
  transition: 0.5s ease-in-out;
  transform: translate(-50%, 0%);
  font-size: 20px;
}
.details .card {
  transform: rotateX(60deg) translateY(150px) translateZ(100px);
  box-shadow: 0px 30px 40px 0px rgba(0, 0, 0, 0.75);
}
.details .card .chart {
  transform: translateZ(40px) translatey(50px);
}
.details .card .card-bar {
  transform: translateX(0px) rotateX(-90deg) rotateY(0deg);
}
.details .card .card-bar.card-bar1 {
  height: 150px;
  transition-delay: 0.3s;
  margin-top: -150px;
}
.details .card .card-bar.card-bar2 {
  height: 100px;
  transition-delay: 0.3s;
  margin-top: -100px;
}
.details .card .card-bar.card-bar3 {
  height: 75px;
  transition-delay: 0.2s;
  margin-top: -75px;
}
.details .card .card-bar.card-bar4 {
  height: 180px;
  transition-delay: 0s;
  margin-top: -180px;
}
.details .card .card-bar.card-bar5 {
  height: 52.5px;
  transition-delay: 0.1s;
  margin-top: -52.5px;
}
.details .card .card-bar.card-bar6 {
  height: 52.5px;
  transition-delay: 0.2s;
  margin-top: -52.5px;
}
.details .card .card-bar.card-bar7 {
  height: 75px;
  transition-delay: 0.3s;
  margin-top: -75px;
}
.details .card .card-bar span {
  opacity: 1;
  transition-delay: 0.3s;
  color: white;
  background-color: darkgoldenrod;
  -webkit-font-smoothing: subpixel-antialiased;
  backface-visibility: hidden;
}
.details .card .card-bar:before {
  color: rgba(0, 0 ,0, 0);
  background-color: transparent;
  transition-delay: 0s;
}
.details .card .photo {
  transform: translateZ(20px);
  border: 1px solid black;
}
.details .card .photo:after {
  background-color: rgba(0, 0, 0, 0.75);
}
.details .card h2 {
  opacity: 0;
  transform: translateZ(40px) translateY(-100px);
}
.details .card p {
  opacity: 0;
  transform: translateZ(40px) translateY(-80px);
}
.details .card h3 {
  transform: translateZ(60px) translateY(100px);
}
.background {
  perspective: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: margin-top 0.5s ease-in-out;
  margin-top: 0px;
}
.background:before, .background:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.background.details {
  margin-top: 50px;
}

@media (max-width: 800px) {
  .card {
    width: 350px;
  }

  .background.details {
    margin-top: 75px;
  }
}